<div class="card">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;">
    <h2>Nuevo Plan de Pago</h2>
    <%= link_to "Volver", admin_weekly_plans_path, class: "btn btn-primary" %>
  </div>

  <%= render 'form', weekly_plan: @weekly_plan %>
</div>
