<div class="card">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;">
    <h2>Editar Método de Pago</h2>
    <%= link_to "Volver", admin_payment_methods_path, class: "btn btn-primary" %>
  </div>

  <%= render 'form', payment_method: @payment_method %>
</div>
