<div class="card">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;">
    <h2>Nueva Inscripción</h2>
    <%= link_to "Volver", admin_enrollments_path, class: "btn btn-primary" %>
  </div>

  <%= render 'form', enrollment: @enrollment, students: @students, courses: @courses, sections: @sections, weekly_plans: @weekly_plans, payment_methods: @payment_methods, payment_periods: @payment_periods %>
</div>
